[submodule "interactive-comments-section-react"]
	path = interactive-comments-section-react
	url = https://github.com/akshay63/interactive-comments-section-react.git
[submodule "notifications-page"]
	path = notifications-page
	url = https://github.com/akshay63/notifications-page.git
