[submodule "profile-card"]
	path = profile-card
	url = https://github.com/akshay63/profile-card.git
[submodule "social-proof-section-with-flexbox"]
	path = social-proof-section-with-flexbox
	url = https://github.com/akshay63/social-proof-section-with-flexbox.git
[submodule "four-card-section-challenge"]
	path = four-card-section-challenge
	url = https://github.com/akshay63/four-card-section-challenge.git
[submodule "Price-component"]
	path = Price-component
	url = https://github.com/akshay63/Price-component.git
[submodule "Huddle-landing-page"]
	path = Huddle-landing-page
	url = https://github.com/akshay63/Huddle-landing-page.git
[submodule "Storage-component"]
	path = Storage-component
	url = https://github.com/akshay63/Storage-component.git
[submodule "Clipboard-landing-page"]
	path = Clipboard-landing-page
	url = https://github.com/akshay63/Clipboard-landing-page.git
